<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>
RewriteEngine on
#RewriteRule ^~~([^:/]*)(:[0-9]*)?/action\.php$ action.php?serverid=$1 [L,QSA]
#RewriteRule ^~~([^:/]*)(:[0-9]*)?/action\.php$ http://rptl.us:8000/action?$2 [R=301,L]
#RewriteRule ^~~([^:/]*)(/.*)?$ http://rptl.us:8001$2 [R=301,L]
#RewriteRule ^~~([^:/]*):([0-9]*)(/.*)?$ http://rptl.us:8001$3 [R=301,L]
